
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>xPlor Homepage</title>
  <link rel="stylesheet" type="text/css" href="{% static 'components/reset.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/site.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/container.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/grid.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/image.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/menu.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/divider.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/dropdown.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/segment.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/button.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/icon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/sidebar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'components/transition.css' %}">

  <style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


  </style>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="{% static 'components/visibility.js' %}"></script>
  <script src="{% static 'components/sidebar.js' %}"></script>
  <script src="{% static 'components/transition.js' %}"></script>

  <script>
  $(document)
    .ready(function() {

      // fix menu when passed
      $('.masthead')
        .visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        })
      ;

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    })
  ;
  </script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
  <div class="ui container">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item" href="/galaxies">Galaxies</a>
        <a class="item" href="/planets">Planets</a>
        <a class="item" href="/stars">Stars</a>
        <a class="item" href="/constellations">Constellations</a>
        <a class="item" href="/satellites">Satellites</a>
        {% if user.is_authenticated %}
        
        <div class="right item">
          <a class="ui  button" style="margin-right: 10px">Hello {{ user.username }}</a>
          <a class="ui  button" href="/logout">Logout</a>
        </div>
        {% else %}
         <div class="right item">
          <a class="ui  button" style="margin-right: 10px "href="/login">Login</a>
          <a class="ui  button" href="/signup">Sign Up</a>
        </div>
        {% endif %}
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item" href="/galaxies">Galaxies</a>
        <a class="item" href="/planets">Planets</a>
        <a class="item" href="/stars">Stars</a>
        <a class="item" href="/constellations">Constellations</a>
        <a class="item" href="/satellites">Satellites</a>
        {% if user.is_authenticated %}
        
        <div class="right item">
          <a class="ui inverted button" >Hello {{ user.username }}</a>
          <a class="ui inverted button" href="/logout">Logout</a>
        </div>
        {% else %}
         <div class="right item">
          <a class="ui inverted button" href="/login">Login</a>
          <a class="ui inverted button" href="/signup">Sign Up</a>
        </div>
        {% endif %}
</div>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
		    <a class="active item">Home</a>
		    <a class="item" href="/galaxies">Galaxies</a>
		    <a class="item" href="/planets">Planets</a>
		    <a class="item" href="/stars">Stars</a>
        <a class="item" href="/constellations">Constellations</a>
        <a class="item" href="/satellites">Satellites</a>
        {% if user.is_authenticated %}
        
        <div class="right item">
          <a class="ui inverted button">Hello {{ user.username }}</a>
          <a class="ui inverted button" href="/logout">Logout</a>
        </div>
        {% else %}
         <div class="right item">
          <a class="ui inverted button" href="/login">Login</a>
          <a class="ui inverted button" href="/signup">Sign Up</a>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
       xPlor
      </h1>
      <h2>To Infinity and beyond</h2>
      <a href="/video" ><div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div></a>

    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Explore the Unexplored</h3>
          <p>Take a look at the vast universe in which we live in.</p>
          <h3 class="ui header">How it all began??</h3>
          <p>The Big Bang.</p>
        </div>
        <div class="six wide right floated column">
          <img src="{% static 'media/bigbang.jpeg' %}" class="ui rounded medium bordered image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="six wide left floated column">
          <img src="{% static 'media/galaxy.jpeg' %}" class="ui medium rounded bordered image">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">What is a Galaxy??</h3>
          <p>A galaxy is a gravitationally bound system of stars, stellar remnants, interstellar gas, dust, and dark matter</p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Now that we know what a galaxy is, lets see what is a star??</h3>
          <p>A star is type of astronomical object consisting of a luminous spheroid of plasma held together by its own gravity. The nearest star to Earth is the Sun. Historically, the most prominent stars were grouped into constellations.</p>
        </div>
        <div class="six wide right floated column">
          <img src="{% static 'media/star.jpeg' %}" class="ui rounded medium bordered image">
        </div>
      </div>
       </div>
  </div>

 <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="six wide left floated column">
          <img src="{% static 'media/constellation.jpg' %}" class="ui rounded medium bordered image">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">But, what is a Constellation??</h3>
          <p>A constellation is a group of stars that forms an imaginary outline or meaningful pattern on the celestial sphere, typically representing an animal, mythological person or creature, a god, or an inanimate object.</p>
        </div>
      </div>
    </div>
  </div>

   <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
         
          <h3 class="ui header">Now, Let's see what a Planet is??</h3>
          <p>A planet is an astronomical body orbiting a star or stellar remnant that is massive enough to be rounded by its own gravity, is not massive enough to cause thermonuclear fusion, and has cleared its neighbouring region of planetesimals.</p>
        </div>
        <div class="six wide right floated column">
          <img class="ui medium bordered image rounded" src="{% static 'media/planet.jpeg' %}" >
        </div>
      </div>
       </div>
  </div>

   <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="six wide left floated column">
          <img src="{% static 'media/satellite.jpeg' %}" class="ui rounded medium bordered image">
        </div>
        <div class="eight wide column">
          <h3 class="ui header">Now that we know what a planet is, lets see what's revolving around them?? It is a Satellite!!</h3>
          <p>It is a celestial body placed in orbit round the planets.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
</body>

</html>

  